.object_comment_form {

  .wysi-toolbar {
    left: 11px !important;
  }
  .wysi textarea {

    width: 540px !important;
  }
  .custom_actions {
    padding-left: 0px !important;
  }
  .actions {
    padding: 0 !important;;
  }
  .input_field{
      margin: 0 0 0 0;
      width: 540px;
      height: 30px;
      border-radius: 5px;
      border: 1px solid #D5D5D5;

  }
  .comment_box {
    cursor: text;
    color: #D2D2D2;
    padding: 5px 0 0 5px;
  }

  .object_comments{
    .comment{
      border: none;
    }
  }
}

