@import "constants";
$s-gray-50:#fafafa;
$s-gray-100:#f5f5f5;
$s-gray-200:#eeeeee;
$s-gray-300:#e0e0e0;
$s-gray-400:#bdbdbd;
$s-gray-500:#9e9e9e;
$s-gray-600:#757575;
$s-gray-700:#616161;
$s-gray-800:#424242;
$s-gray-900:#212121;
$xtra-light:#fff;
$border-color:#e3e4e4;
$heading-gray:#9d9d9d;