-if @first_login
  = render 'update_info'

p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi placerat justo ac nisl tincidunt, ac porttitor leo elementum. Sed vel nisl nec sapien tempus volutpat. Quisque sagittis blandit erat, vitae hendrerit dui scelerisque non. Nunc sagittis volutpat fringilla. Mauris aliquam magna ac blandit auctor. Proin purus mauris, feugiat nec imperdiet at, dignissim ut nisi. Donec id tortor feugiat tellus imperdiet pretium. Vivamus dapibus posuere lacus ac tristique. Fusce quis quam malesuada, dictum dui sit amet, ultricies nunc. Mauris elementum pretium blandit. Nulla non dolor eget sapien tempus scelerisque quis at mi. Ut faucibus lacinia erat vitae eleifend. Donec sed pulvinar est.

p Vivamus velit elit, imperdiet non purus quis, luctus eleifend metus. Praesent vel elementum diam, vel rutrum erat. Nulla facilisi. Etiam non felis fringilla, sollicitudin justo et, pharetra nulla. Morbi quis augue non urna porttitor pulvinar. Ut sit amet felis quis lectus finibus feugiat mattis vel turpis. Sed eget ligula nec nisi cursus mollis eget id dolor. Donec porta sed lectus quis placerat. Pellentesque sodales non nulla at laoreet. Vestibulum ut rutrum sapien, sagittis mattis mauris. Duis pretium sed elit non laoreet.

p Nullam eu metus sollicitudin leo convallis finibus eget quis est. Duis id nulla a erat volutpat vehicula nec at lorem. Ut bibendum ligula dolor. Nullam vehicula vel mauris id fermentum. Sed a felis arcu. Aliquam finibus, tortor at suscipit fermentum, enim urna ultrices ex, non euismod lectus mi at quam. Maecenas hendrerit ligula ex, vitae ullamcorper est cursus in. Proin quis tempor sapien. Duis cursus fringilla nisi sollicitudin pellentesque. Donec dictum, sem et maximus ornare, ipsum mi auctor turpis, eget venenatis felis erat ut neque. Nam dapibus lobortis justo, et vestibulum tortor imperdiet id.

p Nam fringilla, tellus in congue rutrum, ex mauris dapibus magna, eu ornare sem sem et dui. Fusce gravida nisl mattis tellus scelerisque luctus. Suspendisse malesuada, eros eu euismod semper, ligula ante pellentesque metus, eget scelerisque dui nisl non libero. Aliquam suscipit ornare varius. Vivamus eleifend mi ac varius elementum. Morbi eleifend ante nec ultricies gravida. Mauris tempus porttitor neque sed malesuada. Praesent id felis turpis. Mauris vehicula, dui ut tempor consequat, neque arcu pulvinar nibh, at consectetur velit metus vel urna. Morbi ac dolor quis ex sollicitudin viverra sed vel mi. Ut efficitur facilisis felis et condimentum. Aenean hendrerit justo at ligula varius, in faucibus mi bibendum. Donec sit amet porta urna.

p Maecenas a volutpat turpis. Nulla nec quam lacinia, commodo ipsum ac, cursus risus. Curabitur nisi urna, rhoncus vel orci nec, sagittis aliquam orci. Suspendisse potenti. Sed placerat nunc ac velit tincidunt condimentum. Phasellus aliquet fermentum fermentum. Nunc ut arcu venenatis libero lacinia imperdiet sed non arcu.


