// Place all the styles related to the core/comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.model{
  .comments{
    .wysi-toolbar{
      left: 0px !important;
    }
  }
}
