// Place all the styles related to the Core/Invoices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.clickAble{
  cursor: pointer;
}