@import "constants";
$s-blue-50:#e3f2fd;
$s-blue-100:#bbdefb;
$s-blue-200:#90caf9;
$s-blue-300:#64b5f6;
$s-blue-400:#42a5f5;
$s-blue-500:#2196f3;
$s-blue-600:#1e88e5;
$s-blue-700:#1976d2;
$s-blue-800:#1565c0;
$s-blue-900:#0d47a1;
$xtra-light:#ffffff;
$border-color:#e3e4e4;
$heading-gray:#9d9d9d;