@import "constants";
$s-purple-50:#ede7f6;
$s-purple-100:#d1c4e9;
$s-purple-200:#b39ddb;
$s-purple-300:#9575cd;
$s-purple-400:#7e57c2;
$s-purple-500:#673ab7;
$s-purple-600:#5e35b1;
$s-purple-700:#512da8;
$s-purple-800:#4527a0;
$s-purple-900:#311b92;
$xtra-light:#ffffff;
$border-color:#e3e4e4;
$heading-gray:#9d9d9d;