@import "constants";

.ui.form.hd-theme {
  max-width: 950px;

  .field {
    label {
      font-size: 1em;
    }

    &.inline {
      margin: 0em 0.0em 0.5em 0em;
      border-bottom: 1px solid lighten($dark-gray-color, 20);

      label {
        width: 150px;
        padding: 0.5rem;
        padding-right: 0;
        margin: 0;
        text-align: right;
        color: darken($dark-gray-color, 20);

        &:after {
          content: " :";
        }
      }
      textarea {
        width: auto;
        height: auto;
      }
      select {
        max-width: 200px;
        color: rgba(0, 0, 0, 0.701961);
      }
      &.type-select{
        width: 150px;
        padding-right: 0px;
        select{
          min-width: 5em;
          -webkit-appearance: none;
          -moz-appearance: none;
          float: right;
          direction: rtl;
          padding-right: 0px;
          height: 2.1em;
          color: #8d8d8d;
        }
        .icon{
          float: right;
          text-align: end;
          padding: 0.6em;
          margin-right: -0.3em;
        }
      }

      .uploader {
        text-align: left;
        &:after{
          content: none;
        }
        input[type="file"]{
          display:none;
        }
      }
    }

    &.hidden {
      border: none;
    }

    a.remove_fields{
      visibility:hidden;
    }

    &:hover, > input:focus{
      .remove_fields, ~.remove_fields{
        visibility:visible;
      }
    }
  }

  .actions {
    text-align: right;
  }

  input[type="color"], input[type="date"], input[type="datetime"],
  input[type="datetime-local"], input[type="email"], input[type="month"],
  input[type="number"], input[type="password"], input[type="search"],
  input[type="tel"], input[type="text"], input[type="time"], input[type="url"],
  input[type="week"], textarea, select {
    padding: 0.5rem;
    min-width: 20em;
    border-radius: 0;
    border: none;
    background: transparent;

    &:hover, &:focus, &.active {
      border: none;
      box-shadow: none;
      outline: none;
    }
  }

  fieldset {
    border: 1px solid rgba(241, 218, 218, 0.32);
    legend {
      margin-left: 1em;
      color: #000;
      font-weight: bold;
    }
  }

  .ui.segment {
    padding: 0.5em 0;
    border: none;
    box-shadow: none;
    .label {
      background: #EEF3F7;
    }
  }

  .links{
    width: 218px;
    text-align: right;
    font-size: 0.8em;
    a{
      color: #8d8d8d;
      &:hover{
        text-decoration: none;
      }
    }
  }

  .inline.fields .field > :first-child,
  .inline.field > :first-child {
    margin: 0;
  }
  .ui.segment > .attached.label:first-child + *{
    margin-top: 2.5em;
  }
}
#exposeMask {
  background: rgba(150, 150, 150, 0.1);
}