body, html {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
  font-weight: 400;
}

a {
  text-decoration: none;
  color: black;

  &:hover {
    text-decoration: underline;
  }
}

strong {
  font-weight: 600;
}

.ui.breadcrumb .active.section {
  font-weight: 600;
}