# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 127520be1a30a4bf484b57cdc8a97c8982a4ea420172b8d2b8b204bb49c9b5d19dca71fbe26bdc15f5ba1de471ebe7831e96d867363a5c5f2265bb7149b37462

test:
  secret_key_base: 9b253be3430de4f57c2f5c956c6a0599bd3448f6d2685912f9a0c1723a5dc6f596ed6099175fb7f87d58e4b558a04951b9c04a903024d88506a9e88c2ebd2a5a

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: 2a4ea420172b8d2b8b204bb49c9b5d19dca74ea420172b8d2b8b204bb49c9b5d19dca71fbe26bdc15f58e4b558a04951b9c04a903024d88506a9e88c2ebd2a5a

staging:
  secret_key_base: 127520be1a30a5658457454cdc8a97c8982a4ea420172b8d2b8b204bb49c9b5d19dca71fbe26bdc15f5ba1de471ebe783erenfd87343mfjfjee098lmjb37462
