@import "constants";
$s-brown-50:#efebe9;
$s-brown-100:#d7ccc8;
$s-brown-200:#bcaaa4;
$s-brown-300:#a18871;
$s-brown-400:#8d6e63;
$s-brown-500:#795548;
$s-brown-600:#6d4c41;
$s-brown-700:#5d4037;
$s-brown-800:#4e342e;
$s-brown-900:#3e2723;
$xtra-light:#ffffff;
$border-color:#e3e4e4;
$heading-gray:#9d9d9d;