@import "constants";
$s-dark-gray-50:#eceff1;
$s-dark-gray-100:#cfd8dc;
$s-dark-gray-200:#b0bec5;
$s-dark-gray-300:#90a4ae;
$s-dark-gray-400:#78909c;
$s-dark-gray-500:#607d8b;
$s-dark-gray-600:#546e7a;
$s-dark-gray-700:#455a64;
$s-dark-gray-800:#37474f;
$s-dark-gray-900:#263238;
$xtra-light:#ffffff;
$border-color:#e3e4e4;
$heading-gray:#9d9d9d;