@import "constants";
$s-indigo-50:#e8eaf6;
$s-indigo-100:#c5cae9;
$s-indigo-200:#9fa8da;
$s-indigo-300:#7986cb;
$s-indigo-400:#5c6bc0;
$s-indigo-500:#3f51b5;
$s-indigo-600:#3949ab;
$s-indigo-700:#303f9f;
$s-indigo-800:#282593;
$s-indigo-900:#1a237e;
$xtra-light:#ffffff;
$border-color:#e3e4e4;
$heading-gray:#9d9d9d;