@import "constants";
$s-teal-50:#e0f2f1;
$s-teal-100:#b2dfdb;
$s-teal-200:#80cbc4;
$s-teal-300:#4db6ac;
$s-teal-400:#26a69a;
$s-teal-500:#009688;
$s-teal-600:#00897b;
$s-teal-700:#00796b;
$s-teal-800:#00695c;
$s-teal-900:#004d40;
$xtra-light:#ffffff;
$border-color:#e3e4e4;
$heading-gray:#9d9d9d;