@import "constants";
@import "colors";
body {
  margin: 0;
  padding: 0;
  padding-top: $nav-bar-height + $secondary-nav-bar-height - 13px;
  background: #f5f5f5;
}

body, html {
  height: 100%;
  font-size: 15px;
  color: $heading-gray;
}
*{
  border-radius: 0 !important;
  border-color: $border-color !important;
}
*{
  &:focus{
    outline: none !important;
    box-shadow: none !important;
  }
}
html.turbolinks-progress-bar::before {
  background-color: $s-teal-900 !important;
  height: 5px !important;
}

#header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}

#side-bar{
  padding-top: 20px;

  > h3:first-child{
    margin-top: 0;
  }
}

#nav-bar {
  width: 100%;
  display: block;
  height: $nav-bar-height;
  background: $s-teal-900;

  > .menu {
    background: $s-teal-700;
    border-radius: 0;
    height: $nav-bar-height;

    > .item {
      padding-top: 0;
      padding-bottom: 0;
      line-height: $nav-bar-height;
      font-size: 1.2rem;
      color: $s-teal-50 !important;
    }

    .ui.dropdown {
      padding: 0 10px;
      line-height: $nav-bar-height;
    }
  }
}
.ui.inverted.menu{
  .active.item{
    background-color: $s-teal-900 !important;
  }
}
#action-bar {
  margin-right: 20px;
  height: 30px;
  padding: 5px 0;
  box-sizing: border-box;

  .button {
    padding: 8px;
    margin:0 5px !important;
    .icon {
      margin: 0;
    }
  }
  .button.active{
    background-color: $s-teal-700 !important;
    color: $s-teal-50 !important;
  }
  .ui.buttons {
    .button:last-child {
      margin-left: 0;
    }
    .button{
      margin-left: 0;
    }
    .button:first-child{
      margin-left: 5px;
    }
  }
}

#secondary-nav-bar {
  width: 100%;
  display: block;
  height: $secondary-nav-bar-height;
  background: $white;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);

  .menu {
    padding: 0;
    margin: 0;
    height: $secondary-nav-bar-height;

    .item {
      line-height: 24px;
      height: $secondary-nav-bar-height !important;
      box-sizing: border-box;
      font-size: 1.2rem;
      border-bottom-color: transparent !important;
      &.header {
        font-size: 1.5rem;
        letter-spacing: 0.2em;
        color: $black !important;
        padding-left: 0;
        line-height: 18px;
        font-weight: 400 !important;
        margin-left: 14px;
      }
    }
    .item.active {
      color: $s-teal-600 !important;
      border-bottom-color: $s-teal-600 !important;
    }
  }

  .right.floated {
    margin-right: 10px;
  }
}

#sub-action-bar {
  border-bottom: 1px solid $s-teal-50 !important;
  padding: 10px;
  box-sizing: border-box;
  background:$xtra-light !important;

  .ui.breadcrumb {
    margin: 0;
    font-size: 0.8em;
    .icon {
      font-size: 1.1em;
    }
  }

  .title {
    margin: 0;
    font-size: 1.8em;
    font-weight: 100;
  }

  .button {
    padding: 8px;
    margin-left: 5px;
    .icon {
      margin: 0;
    }
  }
  .ui.buttons {
    .button{
      margin-left: 0;
    }
  }
}

#status-bar {
  margin: 20px 0;
  >.column{
    text-align: center;
  }
}

#container {
  background: $xtra-light;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 20px;
  min-height: 500px;
  @include box-shadow( 0 5px 7px -5px rgba(0, 0, 0, 0.26));
  &.ui.grid {
    padding-top: 10px;
    width: 80%;
    margin-left: 10% !important;
  }
}

#content {
  padding-top: 0;
}

.sticky-wrapper.is-sticky {
  #sub-action-bar {
    z-index: 2;
    @include box-shadow( 0 5px 7px -5px rgba(0, 0, 0, 0.26));
    .ui.breadcrumb {
      display: none;
    }
  }
}
#show-box{
  width: 100%;
  background-color: #FFFFFF;
  margin:0;
  >.box_content{
    margin: 0 0 0 20px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .comment{
    border: none;
  }
}

.ui.top_margin {
  margin-top: 10px;
}

.text_right{
  text-align: right !important;
}
.task-line-strike{
  text-decoration: line-through;
}

#show_completed_tasks,  #my_completed_tasks {
  >.comment{
    min-height: 3.5em;
  }
}

.sort-menu{
  .menu{
    height: auto !important;
    .item{
      margin-left: 0px !important;
      a{
        text-decoration: none;
      }
    }
  }
}

.sticky-wrapper.is-sticky{
  #sub-action-bar{
    h3.title{
      margin: 10px 0 0 !important;
      position: relative;
      z-index: 9;
    }
  }
  .floated.right{
    margin: 15px 0 0 !important;
  }
}
.ui.celled.list {
  .item{
    padding-bottom: 10px !important;
    padding-top: 10px !important;
  }
}
.ui.celled.list {
  .list{
    padding-bottom: 10px !important;
    padding-top: 10px !important;
  }
}