@import 'semantic-ui';
@import "constants";
@import "colors";

@font-face {
  font-family: 'Icons';
  src: font-url("semantic-ui/icons.eot");
  src: font-url("semantic-ui/icons.eot?#iefix") format('embedded-opentype'),
  font-url("semantic-ui/icons.svg#icons") format('svg'),
  font-url("semantic-ui/icons.woff") format('woff'),
  font-url("semantic-ui/icons.ttf") format('truetype');
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-decoration: inherit;
  text-transform: none;
}

.ui.tabular.menu .item:first-child,
.ui.secondary.pointing.menu .item:first-child {
  margin-left: 20px;
}

.ui.vertical.secondary.pointing.menu .item:first-child {
  margin-left: 0;
}

.ui.tab {
  padding: 10px 20px;
}

.ui.grid {
  margin: auto;
  font-size: 13px;
  &.show{
    >.row{
      margin: 0;
    }
  }
}

.floated.right {
  float: right;
}

.floated.left {
  float: left;
}

.ui.table thead th:last-child,
.ui.table thead th:first-child {
  border-radius: 0;
}

.padded {
  &.right {
    padding-right: 10px;
  }
  &.left {
    padding-left: 10px;
  }
  &.top {
    padding-top: 10px;
  }
  &.bottom {
    padding-bottom: 10px;
  }
}

.remove-padding {
  &.right {
    padding-right: 0 !important;
  }
  &.left {
    padding-left: 0 !important;
  }
  &.top {
    padding-top: 0 !important;
  }
  &.bottom {
    padding-bottom: 0 !important;
  }
}

a:hover .icon{
  text-decoration: none;
}

.ui.secondary.pointing.menu {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.ui.menu .blue.active.item,
.ui.blue.menu .active.item {
  border-color: $blue !important;
  color: $blue !important;
}

.ui.blue.buttons .button,
.ui.blue.button {
  background-color: $s-teal-700;
  height: $nav-bar-height;
  line-height: $nav-bar-height/2;
  font-size: 1.1rem;
  color: $s-teal-50 !important;
  &:hover{
    background-color: $s-teal-600;
  }
}
.button.red,.button.blue,.button.black{
  height: $nav-bar-height !important;
  line-height: $nav-bar-height/2 !important;
  font-size: 1.1rem !important;
}
.ui.button .icon,
.ui.button:hover .icon,
.ui.button.hover .icon{
  opacity: 1;
}
.ui.buttons .button{
  margin-right: 0;
}

i.icon{
  opacity: 1;
}
.ui.button, .ui.button:hover{
  background: none;
}
.ui.buttons .active.button, .ui.active.button{
  background: #F9F8F8;
}
.ui.divided.list .item {
  border-top: none;
  .content{
    width: 100%;
  }
}

.ui.divided.list.data-listing {
  >.item.data-block > .content {
    >.side-content{
      margin-right: 1em;
    }
  }
  > .item:nth-child(2n) {
    background: #F8F8F8 !important;
  }
}

.ui.modal{
  border: 1px solid #343434;
  border-radius: 5px;

  &.basic{
    background-color: #E0E0E0;
    width: 40%;
    left: 56%;

    .actions {

    }
  }

  &.small{
    width: 30%;
    left: 54%
  }

  &.large{
    width: 80%;
    left: 42%;
  }

  > .header{
    margin: 0;
    padding: 1.5rem 2rem;
    font-size: 1.6em;
    font-weight: 300;
    background-color: $s-teal-700 !important;
    color:$s-teal-50 !important;
    border-radius: 0;
  }

  > .content{
    display: table;
    width: 100%;
    position: relative;
    padding: 2em;
    background-color: #E0E0E0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    color: #00002A
  }

  >.actions {
    background-color: #E0E0E0;
    color: #00002A;
  }

  .actions {
    text-align: left;
    margin-left: 0;
    .button {
      margin-right: 1em;
      margin-left: 0;
      line-height:12px !important;
      height: 40px !important;
      font-weight: 300 !important;
      font-size: 1.3rem !important;
    }
  }
}

.ui.accordion {
  > .title {
    > h3 {
      margin: 0;
    }
  }
}
.minicolors.minicolors-theme-default{
  >.minicolors-input{
    height: auto;
  }
}

.grey{
  color: rgba(0, 0, 0, 0.6);
}
.small-font{
  font-size : 0.8em;
}

.ui.comments .comment {
  background: white;
  padding: 0.8em;
  border-bottom: 1px solid #ddd;
}

.ui.comments .comment .avatar{
  width: auto;
  > img {
    width: 3.5em;
    height:3.5em;
  }
}

.ui.comments .comment:first-child{
  padding-top: 5px;
}
.fc-toolbar .fc-state-active, .fc-toolbar .ui-state-active{
  z-index: 0 !important;
  background-color: $s-teal-700 !important;
  color: $s-teal-50 !important;
  box-shadow: none !important;
  text-shadow: none !important;
}
body.workspace_calendars .ui.celled.list .ui.horizontal.label{
  background-color: none !important;
}
.fc button .fc-icon{
  color: $s-teal-700 !important;
}
.ui.list{
  a{
    .icon{color: $s-teal-700 !important;}
  }
}
.ui.horizontal.label{
  background-color: transparent !important;
  padding: 0 7px 0 0 !important;
  margin: -12px 0 0 !important;
}
.fc{
  th{
   line-height: 40px !important;
    color: $black !important;
    font-weight: 300 !important;
    font-size: 1.6rem !important;
    background-color: $s-teal-50 !important;

  }
}
.ui.compact.table th,.ui.padded.table th,.ui.table th{
  line-height: 40px !important;
  color: $black !important;
  font-weight: 300 !important;
  font-size: 1.3rem !important;
  background-color: $s-teal-50 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.ui.comments{
  overflow: hidden !important;
}
.ui.comments {
  .comment{
    overflow: hidden !important;
  }
}
.select2-container-multi{
  .select2-choices{
    line-height: 40px !important;
  }
}
#sub-action-bar .button {
  padding: 8px;
  margin-left: 5px;
  line-height: 25px !important;
  height: 40px;
}
.ui.button {
  .icon{
    color: $s-teal-700 !important;
  }
}
.ui.button.active {
  .icon{
    color: $s-teal-50 !important;
  }
}
.ui.secondary.vertical.pointing.menu {
  border: 0 !important;
  width: 99% !important;
  .item{
    background: $s-teal-100 !important;
    color: $black !important;
    line-height: 20px !important;
    border: 0 !important;
    font-size: 1.2rem !important;
    text-transform: capitalize !important;
  }
  .item.active{
    background: $s-teal-200 !important;
  }
}
.ui.tabular.menu{
  .item{
    font-size: 1.1rem !important;
  }
}
.text{
  strong{
    a{
      color: $s-teal-500 !important;
    }
  }
}
.ui.dropdown.button{
  height: 30px !important;
}
.ui.dropdown {
  .dropdown.icon{
    color: $s-teal-500 !important;
  }
}
.ui.block.header{
  background-color: $s-teal-50 !important;
}