@import "constants";
$s-light-blue-50:#e1f5fe;
$s-light-blue-100:#b3e5fc;
$s-light-blue-200:#81d4fa;
$s-light-blue-300:#4fc3f7;
$s-light-blue-400:#29b6f6;
$s-light-blue-500:#03a9f4;
$s-light-blue-600:#039be5;
$s-light-blue-700:#0288d1;
$s-light-blue-800:#0277bd;
$s-light-blue-900:#01579b;
$xtra-light:#ffffff;
$border-color:#e3e4e4;
$heading-gray:#9d9d9d;